@import '../common/styles/sass/variables';

.myProjectsBlock {
  min-height: 100%;
  background-color: $bgColor;
  padding-bottom: 30px;
  font-family: $fontFamily;

  .myProjectsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .myProjects {
      border: 1px solid;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      box-sizing: border-box;
      @media screen and (min-width: 1315px) {
        justify-content: space-between;
      }
    }
  }
}





