@import '../common/styles/sass/mixins.scss';
@import '../common/styles/sass/variables.scss';

.header {
  height: 80px;
  background-color: $bgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    @include text(20px, 38px);
    color: $textColor;
    float: left;
    padding-left: 40px;
    font-weight: 500;
  }
}


