.contactsBlock {
    background-color: #d1908a;
    flex-direction: column;
}

.contactsContainer {
    flex-direction: column;
}

.form {
    width: 280px;
    display: flex;
    flex-direction: column;
}

.button {
    margin: 30px;
    width: 70px;
    align-self: center;
}
