.skills {
    display: flex;
}

.skills ul {
    list-style: none;
    padding-inline-start: 0
}

.titleSkill {
    color: white;
}

.subTitleSkill {
    color: #C6C9D8BF;
    display: flex;
    align-items: center;
}

.skillsIconItem {
    width: 36px;
    padding: 5px;
}