@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.mainBlock {
  display: flex;
  align-items: center;
  background-color: #121528;
  font-family: $fontFamily;
  min-height: 90vh;

  .titleBlock {

    .subTitle {
      color: $secondaryColor;
      font-size: 18px;
    }

    .title {
      color: white;
      font-size: 54px;
      line-height: 68px;

      & span {
        color: $primaryColor;
      }
    }

    .downloadCV {
      @include text(16px, 38px);
      @include button();

      &:hover {
        background-color: $primaryColor;
        border: 2px solid $primaryColor;
      }
    }
  }
}

.photo {
  margin: 10px;
  width: 300px;
  height: 380px;
  background-color: $textColor;
  border-radius: 15px;
}